@model List<finalYearProject.Models.UserRole>
@{
    Layout = "~/Views/Shared/_LayoutRole.cshtml";
    var roleId = ViewBag.roleId;
}

    <div class="container">
        <section class="mainpart">
            <div class="row">
                
                    <div class="col-lg-10 m-auto d-block card p-3 decorate">
                        <br />
                        <h2 class=" text-center">Add Or Remove Users From this Role</h2>
                        <hr />
                        <form method="post">
                            <div class="card mb-3">

                                <div class="card-body">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model[i].userId" />
                                            <input type="hidden" asp-for="@Model[i].userName" />
                                            <input asp-for="@Model[i].isSelected" class="form-check-input" />
                                            <label class="form-check-label text-secondary" asp-for="@Model[i].isSelected">
                                                @Model[i].userName
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <input class="btn btn-primary" type="submit" value="Update" />
                                    <button class="btn btn-danger" asp-action="EditRole" asp-route-id="@roleId">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                  
            </div>
        </section>


    </div>
    