@model List<finalYearProject.Models.Users>
@{
      var uname= ViewBag.uname;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <section class="mainpart">
        <div class="row">
            <div class="col-lg-10  m-auto d-block card p-3 decorate">
                <br />
                <h2 class=" text-center">All Users</h2>
                <hr />
                <a asp-action="AddUser" asp-route-uname="@uname"  class="btn btn-primary mb-3">Add New User</a>
                @foreach (finalYearProject.Models.Users user in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            User Id: @user.id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@user.email</h5>
                        </div>
                        <div class="card-footer">
                            <form method="post" asp-route-id="@user.id" asp-action="DeleteUser">
                                <a asp-action="EditUser" asp-route-uname="@uname" asp-route-id="@user.id" class="btn btn-primary">Edit</a>
                                <button type="submit"  class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


</div>
