@using finalYearProject.Models
@model ChangePasswordModel



@{
    var uname = ViewBag.uname;
    Layout = "~/Views/Shared/_LayoutCustomerApp.cshtml";
}

    <section class="mainpart">
        <div class="container">
            <div class="col-lg-8 m-auto d-block card p-5 decorate">
                <br />
                <h1 class=" text-center">Change Password</h1>
                <br />
                <form method="post" class="form-container">
                    <div class="form-group">
                        <label asp-for="@Model.currentPassword"><b>Current Password</b></label>
                        <input type="password" placeholder="Enter Current Password" asp-for="@Model.currentPassword" class="form-control">
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="@Model.newPassword"><b>New Password</b></label>
                        <input type="password" placeholder="Enter New Password" asp-for="@Model.newPassword" class="form-control">
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="@Model.confirmedPassword"><b>Confirm New Password</b></label>
                        <input type="password" placeholder="Enter Confirmed New Password" asp-for="@Model.confirmedPassword" class="form-control">
                    </div>
                    <br />
                    <input type="submit" class="btn btn-primary button-font" value="Change Password" />
                </form>
            </div>
        </div>
    </section>


