@model List<finalYearProject.Models.Receipt>

@{ Layout = "~/Views/Shared/_Layout3.cshtml";
    var uname = ViewBag.uname;
    var resid = ViewBag.resId;
}
@if (Model.Any())
{
   
                    <table class="table table-dark table-hover mt-4 table-striped ">

                        <thead>
                            <tr>



                                <th>
                                    Total No Of Item
                                </th>
                                <th>
                                    Total Amount
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th>
                                    Require Delivery Time
                                </th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (finalYearProject.Models.Receipt r in Model)
                            {

                                <tr>


                                    <td>
                                        @r.NoOfItems

                                    </td>
                                    <td>
                                        @r.TotalAmount
                                    </td>
                                    <td>
                                        @r.OrderTime

                                    </td>
                                    <td>
                                        @r.UserTime
                                    </td>
                                    <td>

                                        <a class="btn btn-info" asp-action="Accept" asp-route-receiptID="@r.ReceiptID" asp-route-RestaurentID="@resid" asp-route-uname="@uname">Accept</a>
                                        <a class="btn btn-info" asp-action="Decline" asp-route-receiptID="@r.ReceiptID" asp-route-RestaurentID="@resid" asp-route-uname="@uname">Decline</a>
                                        <a class="btn btn-info" asp-action="Detail" asp-route-receiptID="@r.ReceiptID" asp-route-RestaurentID="@resid" asp-route-uname="@uname">Detail</a>

                                    </td>

                                </tr>
                            }

                        </tbody>


                    </table>


               
}
else
{
    <h5 class="text-center mt-4">No Items in Pending Order List</h5>
}