@model List<finalYearProject.Models.Receipt>

@{ Layout = "~/Views/Shared/_Layout3.cshtml";
    var uname = ViewBag.uname;
    var resid = ViewBag.resId;
}
@if (Model.Any())
{
    <section class="mainpart">
        <div class="container">
            <div class="col-lg-12 m-auto d-block card p-3 decorate">
                <br />
                <h2 class="text-center">Restaurant Pending Order List</h2>
                <div>
                    <table class="table table-dark table-hover table-striped ">
                        <thead>

                            <tr>

                                <th>
                                    Items Present
                                </th>
                                <th>
                                    Total Amount
                                </th>
                                <th>
                                    Order Place Date & Time
                                </th>
                                <th>
                                    Required delivery Time
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (finalYearProject.Models.Receipt r in Model)
                            {
                                <tr>

                                    <td>
                                        @r.NoOfItems

                                    </td>
                                    <td>
                                        Rs @r.TotalAmount
                                    </td>
                                    <td>
                                        @r.OrderTime
                                    </td>
                                    <td>
                                        @r.UserTime
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button onclick="myFunction()" class="dropbtn">Select</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <a class="btn btn-info" asp-route-RestaurentID="@resid" asp-route-uname="@uname" asp-action="Accept" asp-route-receiptID="@r.ReceiptID">Accept Order</a>
                                                <a class="btn btn-info" asp-route-RestaurentID="@resid"  asp-route-uname="@uname" asp-action="Decline" asp-route-receiptID="@r.ReceiptID">Decline Order</a>
                                                <a class="btn btn-info" asp-route-RestaurentID="@resid"   asp-route-uname="@uname" asp-action="Detail" asp-route-receiptID="@r.ReceiptID">Order Detail</a>

                                            </div>
                                        </div>

                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <h5 class="text-center mt-4">No Items in Pending Order List</h5>
}
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

